@import "tailwindcss";

body {
  background-color: #0f172a;
  color: #f1f5f9;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #1e293b;
}

::-webkit-scrollbar-thumb {
  background-color: #475569;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #64748b;
}